.about-us-main-container {
    text-align: center;
    position: relative;
}

.about-us-menu-container {
    justify-content: center;
    margin-top: 10px;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    padding: 0;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 2;
}

h2 {
    color: #541fc6b6
}

.menu-item {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-item:nth-child(1) {
    grid-column: 1;
}

.menu-item:nth-child(2) {
    grid-column: 2;

}

.menu-item:nth-child(3) {
    grid-column: 3;

}

.menu-item:nth-child(4) {
    grid-column: 4;

}

.menu-item:nth-child(5) {
    grid-column: 5;

}

.menu-item-circle {
    margin-bottom: 5px;
    grid-area: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95px;
    height: 95px;
    opacity: 1;
    background: radial-gradient(100% 100% at 100% 0, #9f5aff 0, #5468ff 100%);
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    transition: 0.2s;
    color: white;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .4) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
    font-size: 14px;
}

.menu-item-content {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: left;
    padding: 10px;
    width: auto;
    max-width: 300px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    box-shadow: rgba(100, 37, 237, 0.4) 0 2px 4px, rgba(21, 84, 231, 0.4) 0 7px 13px -3px, rgba(99, 170, 208, 0.5) 0 -3px 0 inset;
    border: 3px solid rgba(10, 180, 180, 1);
    border-left: none;
    border-right: none;
    border-top: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    filter: none;
    pointer-events: auto;
}

.menu-item-circle:hover {
    font-size: 19px;
    box-shadow: rgba(45, 35, 66, .6) 0 4px 8px, rgba(45, 35, 66, .6) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-15px);
}

.menu-item-circle.active {
    font-size: 19px;
    box-shadow: rgba(45, 35, 66, .6) 0 4px 8px, rgba(45, 35, 66, .6) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-15px);
}

.menu-item-circle.active+.menu-item-content {
    display: block;
    opacity: 1;
    filter: none;
}

.close-button {
    position: absolute;
    top: 5px;
    right: 5px;
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    z-index: 2;
}