.navbar{
    font-family: "JetBrains Mono",monospace;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    box-shadow: 0 5px 15px rgba(0,0,0,0,0.06);
    margin-left: 20%;
    margin-right: 20%;
    }

#navbar-container{
  display: flex;
    align-items: center;
    justify-content: center;
}
.navbar-container ul{
    list-style-type: none;
    padding: 0;
}

.navbar-container li {
    display: inline;
    margin-right: 30px;
    position: relative;
    color: #000000;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.3rem;
    transition: 0.3s ease-in-out;
  }

.navbar-container li:hover::after {
  content: "";
    width: 30%;
    height: 2px;
    background-color: #17aacf;
    position: absolute;
    bottom: -4px;
    left: 2px;
    transition: 0.3s ease-in-out;
  }

  .menu-icon {
    color: white;
    display: none;
  }
  .mobile{
    display: none;
    display: block;
    visibility: hidden;
  }
  
/*links not activated*/
  .nav-links{
    text-decoration: none;
    color: black;
  }

/*links activated*/
  .nav-links.activated{
    color: #17aacf;
  }
  .nav-links.activated::after{
    content: "";
    width: 30%;
    height: 2px;
    background-color: #17aacf;
    position: absolute;
    bottom: -4px;
    left: 2px;
    transition: 0.3s ease-in-out;
  }

  /*styles for active mobile menu*/
  @media screen and (max-width:760px){
    #navbar-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      position: fixed;
      padding: 40px 0 0 10px;
      top: 90px;
      right: -500px;
      width: 300px;
      height: 100vh;
      background-color: #2a3239;
      box-shadow: 0 40px 69px rgba(0,0,0,0,0.1);
      visibility: visible;
    }

    .menu-icon {
      color: #000000;
      display:block;
      font-size: 24px;
      cursor: pointer;
    }


    #navbar-container.mobile li {
      margin-bottom: 25px;
      display:block;
    }
    
    #navbar-container.mobile{
      right: 0px;
    }
  }

  


