.domain-card {
    margin-bottom: 30px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .domain-card.valid {
    background-color: #e6f8dd; /* Light green for valid cards */
  }
  
  .domain-card.expiring {
    background-color: #fff5cc; /* Light yellow for expiring cards */
  }
  
  .domain-card.expired {
    background-color: #fce4e4; /* Light red for expired cards */
  }

  .custom-card-header .MuiCardHeader-title {
    font-weight: bold;
    font-size: 25px;
  }

  .valid-expires-typography {
    color: #41a60b;
  }
  
  .expiring-expires-typography {
    color: #b1900a;
  }
  
  .expired-expires-typography {
    color: #af0d0d;
  }