/* Example styles */
.dashboard-container {
    background-color: #f5f5f5;
    padding: 24px;
  }
  
  .grid-header{
    color:#541fc6b6;
  }
  .projects-section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: start;
  }
  .card-delete-btn{
    background:none;
    border: none;
    cursor: pointer;
    padding: 0;
    visibility: hidden;
  }
  .card-delete-btn.visible{
    visibility: visible;
  }
